/*  css reset adapted from https://joshwcomeau.com/css/custom-css-reset (public domain)
    i am technically a design student dammit  */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*  yanindeb stylesheet
    https://github.com/markjoshwel/yanindeb (public domain)  */

@font-face {
  font-family: "0xProto";
  font-style: normal;
  src: url("./font/0xProto.woff2") format("woff2");
}
@font-face {
  font-family: "DT Nightingale";
  font-style: normal;
  src: url("./font/Nightingale.woff2") format("woff2");
}
@supports not (font-variation-settings: normal) {
  @font-face {
    font-family: "BDO Grotesk";
    font-style: normal;
    src: url("./font/BDOGrotesk-Regular.woff2") format("woff2");
  }
  @font-face {
    font-family: "BDO Grotesk";
    font-style: oblique;
    src: url("./font/BDOGrotesk-DemiBold.woff2") format("woff2");
  }
}
@supports (font-variation-settings: normal) {
  @font-face {
    font-family: "BDO Grotesk";
    src:
      url("./font/BDOGrotesk-VF.woff2") format("woff2 supports variations"),
      url("./font/BDOGrotesk-VF.woff2") format("woff2-variations");
  }
}

/* colours */
:root {
  --colour-main: #544069;
  --colour-tertiary: #e7e6a4;
  --colour-neutral: #f9fcea;

  --colour-light-text: #fffbff;
  --colour-light-text-alt: #f6ecbe;
  --colour-light-text-hover: #eadfea;
}

/* typography */
* i,
* em {
  font-style: italic;
}
* b,
* strong {
  font-weight: bold;
  font-weight: 600;
}
h1 {
  font-family: "DT Nightingale", serif;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: "DT Nightingale", serif;
  font-weight: 600;
  color: var(--colour-main);
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2.1rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-weight: 400;
}
a:hover {
  color: var(--colour-text-hover);
}
code {
  font-family: "0xProto", monospace;
  background-color: #222222;
  color: var(--colour-light-text);
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  border-radius: 0.25rem;
}
pre > code {
  padding-left: 0rem;
  padding-right: 0rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  border-radius: 0rem;
}
pre {
  background-color: #222222;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  border-radius: 0.25rem;
  overflow: acroll;
}

/* body: grid layout */
body {
  font-family: "BDO Grotesk", sans-serif;
  background-color: var(--colour-neutral);

  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 21rem auto;
}

body > * {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  list-style-position: inside;
}

/* header */
body > header,
footer {
  background-color: var(--colour-main);
  color: var(--colour-neutral);
}
header span {
  color: var(--colour-light-text-alt);
}

/* header navbar */
header nav ul {
  list-style: none; /* This removes the bullet points */
}
header nav li {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
header a:hover,
footer a:hover {
  background-color: var(--colour-main);
  color: var(--colour-tertiary);
}

/* footer */
footer {
  grid-row: 2;
}

footer * {
  margin-top: 0.85rem;
}

footer hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border: 1px solid var(--colour-light-text);
}

footer .footer-fonts {
  font-size: 0.85rem;
  font-color: #ffffff !important;
  font-weight: 200;
}

/* main */
main > header {
  margin-bottom: 2rem;
}

main > section > * {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
